h1 {
    background-color: black;
    color:aqua
}
h2 {
    background-color: blueviolet;
    color:white;
    text-align: center;
    font-style: italic;
}
h3 {
    background-color: lightskyblue;
    color: black;
    text-align: right;
    text-decoration: underline;
}